body {
	background: #d2d6de;
}

.main-header {
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.angular-google-map-container {
	height: 100%;
	width: 100%;
}

.angular-google-map {
	height: 100%;
	width: 100%;
}

ui-gmap-google-map {
	position: absolute;
	height: 100%;
	width: 100%;
}

.map-controls {
	height: 48px;
	line-height: 48px;
	position: absolute;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.map-sidebar {
  width: 360px;
  right: 0;
  background: #fff;
  position: absolute;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}